PORT=3000
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/bildyapp_dev
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
CORS_ORIGIN=*
SLACK_WEBHOOK_URL=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=BildyApp <no-reply@bildyapp.com>
STORAGE_PROVIDER=cloudinary
CLOUDINARY_URL=
